*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(2, 2, 23);
    color: whitesmoke;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
     /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    border: 2px solid white;
    width: 70%;
    height: 90vh;
    background-color: rgb(17, 17, 37);
    margin: 11px;
    padding: 7px;
    border-radius: 5px;

}

.input{
    width: 100%;
    height: 25%;
    margin: 5px;
    padding: 3px;
    font-size: 51px;
    border: none;
    outline: none;
}

.button{
    width: 100%;
    height: auto;
    margin: 5px;
    padding: 3px;
}

button{
    width: 23%;
    height: 45px;
    margin: 5px;
    padding: 3px;
    text-align: center;
    font-size: 25px;
    border-radius: 3px;
}

button:hover{
    cursor: pointer;
}

