*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    padding: 1.5rem;
    border-radius: 11px;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

div:hover{
    scale: 1.05;
}

img{
    width: 201px;
    height: 276px;
    object-fit: cover;
    border-radius: 11px;
    margin-bottom: 1.5rem;
}

p{
    font-size: 5rem;
    position: absolute;
    top: 55%;
    left: 29%;
    opacity: 0;
    transition: all 2.5s ease;
}

.click{
    top: -30%;
    opacity: 1;
}