:root {
    --bg-dark: oklch(0.1 0.025 264);
    --bg: oklch(0.15 0.025 264);
    --bg-light: oklch(25.605% 0.03484 262.688);
    --text: oklch(0.96 0.05 264);
    --text-muted: oklch(0.76 0.05 264);
    --highlight: oklch(0.5 0.05 264);
    --border: oklch(0.4 0.05 264);
    --btn: oklch(49.155% 0.20823 262.172);
    --btn-hower: oklch(38.028% 0.16313 262.168);
    --success: oklch(0.7 0.05 160);
    --shadow: rgba(108, 100, 251, 0.15);
    --shadow-hover: rgba(108, 100, 251, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: clamb(16px, 1.25vw, 20px);
    font-family: sans-serif;
    background-color: var(--bg-dark);
}

main {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 1rem;
    margin: auto;
}

h1 {
    color: var(--text);
    font-size: 3rem;
    text-align: center;
    padding: 1.5rem 2rem;
}

p {
    font-size: 1.25rem;
    text-align: center;
    max-width: 500px;
    color: var(--text-muted);
    padding: 0.5rem 1rem;
}

.highlight {
    color: var(--highlight);
    font-weight: bold;
}

.score-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
}

.score-section h2 {
    color: var(--text);
    font-size: 2rem;
}

.game-board {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
}

.game-board .card {
    width: 100px;
    height: 100px;
    background-color: var(--bg-light);
    border: 2px solid var(--border);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--text);
    cursor: pointer;
    transition: all 1s ease;
    transform-style: preserve-3d;
    box-shadow: 0 8px 32px var(--shadow);
}

.game-board .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

/* floating animation for icons */
@keyframes float {
    50% {
        transform: translateY(-5px);
    }
}


/* .game-board .card:hover{
    } */

.clicked {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 16px 48px var(--shadow-hover);
    transform: rotatey(180deg);
}

button {
    margin: 1rem 0;
    background-color: var(--btn);
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    color: var(--text);
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

button:hover {
    box-shadow: 0 4px 12px var(--shadow);
    background-color: var(--btn-hower);
}


/* responsivenes */
@media(max-width: 480px) {
    .game-board {
        flex-wrap: wrap;
        width: 90%;
    }
}